@import url('https://fonts.googleapis.com/css?family=Domine|Noto+Serif|Open+Sans');

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.NN-Art {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.NN-Art .NN-Art-Canvas {
  width: 100%;
  height: 100%;
}

.App-header-container {
  position: relative;
}

.App-header {
  color: white;
  background-color: #263238;
  font-family: 'Noto Serif', serif;
  padding: 20px 0;
}

.App-header h2 {
  font-size: 30px;
  margin: 15px 0;
  /*color: #e2e6e8;*/
}

.App-header-right {
  text-align: right;
}

.App-footer-container {
  position: relative;
  color: #f0f0f0;
  background-color: #263238;
}

.App-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  color: #b5b5b5;
}

.App-footer a {
  color: #ececec;
}

.App-footer .Tagline {
  color: white;
}

.App-footer .Author {
  color: #5a5e61;
}

.App-Body {
  /*margin-top: 108px;*/
}

.LogoList {
  position: relative;
  text-align: center;
}

.LogoList img {
  max-height: 42px;
  line-height: 42px;
  padding: 10px 15px;
  cursor: pointer;
}

.LogoList img.active {
  background: #ddd;
}

.Separator {
  height: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.Separator > span {
  font-family: 'Domine', serif;
  font-size: 26px;
  line-height: 26px;
  background-color: white;
  color: lightgray;
  padding: 0 1em;
}

.Post {
  margin: 30px auto 40px;
  /*max-width: 800px;*/
  /* this is here for the .NewOnScreen to be plugged into */
  position: relative;
}

.Post .NewOnScreen {
  position: absolute;
  left: -12px;
  width: 6px;
  height: 100%;
  animation: 2s AttentionAttractor;
  animation-delay: 1s;
}

@keyframes AttentionAttractor {
  0% {
    background-color: transparent;
  }
  40% {
    background-color: red;
  }
  100% {
    background-color: transparent;
  }
}

.Post h2 {
  font-family: 'Domine', serif;
  font-size: 24px;
  line-height: 1.3em;
  margin: 0.9em 0 0.4em 0;
}

.Post h2 .Prefix {
  font-size: 0.8em;
  color: darkgray;
}

.Post > h2 > a {
  color: #5b6921;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

.Post .Content {
  font-family: 'Open Sans', serif;
  line-height: 1.9em;
  font-size: 14px;
}

.Post .Content > p {
  font-family: 'Noto Serif', serif;
  font-size: 16px;
  color: #333;
  margin: 0;
}

.Post .Content .Company {
  font-family: 'Domine', serif;
  float: left;
  width: 7em;
  /*padding: 0.76em 1em;*/
  padding: 0.76em 0.3em;
  margin-top: 0.3em;
  margin-right: 0.4em;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  background: #f3f3f3;
}

.Post .Content .Company > img {
  max-height: 38px;
}

.Post .Content .Thumbnail {
  float: right;
  margin-left: 0.4em;
  padding: 0.4em;
  background: #eee;
}

.Post .Content .Thumbnail > img {
  max-height: 120px;
  max-width: 180px;
}

.Post .Footer {
  color: gray;
  text-align: center;
}

.Post .Footer a {
  color: #8f9ca8;
}

.Post.TheEnd {
  font-family: 'Domine', serif;
  color: lightgray;
  text-align: center;
}

/* Small Style changes */

.App-Small .NN-Art {
  position: fixed;
}

.App-Small .App-header {
  padding: 0;
}

.App-Small .App-header h2 {
  font-size: 24px;
}

.App-Small .App-Body {
  margin-top: 64px;
}

.App-Small .LogoList {
  display: none;
}

.App-Small .Post {
  margin-top: 10px;
}

.App-Small .Post h2 {
  font-size: 20px;
}

.App-Small .Post .Content {
  font-size: 13px;
  color: #333;
}

.App-Small .Post .Content .Company {
  width: 4em;
  padding: 0.2em;
}

.App-Small .Post .Content .Company > img,
.App-Small .Post .Content .Thumbnail > img {
  max-height: 18px;
}

.btn-transparent,
.btn-transparent:focus {
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
  color: white;
  text-shadow: none;
}
